*{
    background-color:rgb(235, 192, 187);
}
body{
    display: inline-block;
    margin: 150px 0px 0px 450px;
    
}
.title{
    margin-bottom: 15px;
    text-align:center;
    width: 300px;
    padding: 10px;
    color:rgb(247, 244, 244);
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
    border: solid rgb(243, 235, 235) 2px;
    border-radius: 15px;
    background-color: rgb(238, 101, 101);
    }
.cal{
    
    border: solid rgb(250, 247, 247) 2px;
    border-radius: 20px;
    width: 320px;
    padding: 10px;
    background-color: rgb(238, 101, 101);
}
.tab {
    margin: 0px;
    width: 320px;
    height: 200px;
    border: solid rgb(247, 243, 243) 2px;
    border-radius: 15px;
    background-color: rgb(238, 101, 101);
    }
#symbols{
    padding: 5px 15px 5px 15px;
}
td{
    background-color: rgb(250, 248, 248);
    border-radius: 15px;
}
 input[type="button"]
    {
    background-color: rgb(238, 101, 101);
    color:rgb(240, 233, 233);
    border: solid rgb(209, 97, 97) 2px;
    border-radius: 8px;
    width:100%;
    padding: 5px;
    font-weight: 600;
    font-size: 18px;
    margin: 0px;
    }

input[type="text"]
    {
    border: solid rgb(209, 97, 97) 2px;
    padding: 5px;
    color:red;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    background-color:white;
    border-radius: 10px;
    width:100%;
    margin: 0px;
    }